/* body {
  margin: 0;
  padding: 0;
  font-family: 'New Rocker', cursive;
  font-size: 62.5%;
  background-color: #222;
  box-sizing: border-box;
} */

/* h1, h2, h3, h4, h5, ul, ol, li {
  font-family: 'New Rocker', cursive;
  margin: 0;
  padding: 0;
} */

/* p, a {
  font-family: 'Charm', cursive;
  margin: 0;
  text-decoration: none;
} */

ul, ol, li {
  list-style: none;
} 

input.radioCustomButton:not([type=submit]){
  display:none;
}